.techIcons {
  display: flex;
  flex-wrap: wrap;
  margin-block: 0;
  gap: 0.1rem;
  justify-content: flex-start;
  align-items: center;
  line-height: 0;
}
.techIcons span {
  filter: brightness(0);
  line-height: 0;
}
:global .darkMode :local .techIcons span {
  filter: brightness(0) invert(0.8);
}