@keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes pulser {
  50% { opacity: 0.33; }
}
.buttonGroup {
  display: flex;
  gap: 0.2rem;
  align-items: flex-start;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.9rem;
  margin: 0;
}
.nav li,
.card,
.tags span,
.tags li {
  text-align: start;
  color: inherit;
  border-radius: 10px;
  transition: 0.15s ease all;
}
.card,
.dialog button {
  border: 4px double #222;
}
.nav {
  width: 100%;
}
.nav :is(ul, li) {
  margin: 0;
}
.nav ul {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
}
.nav li {
  padding: 0.4rem;
  border: var(--thin-border);
  line-height: 1;
}
.nav li a {
  text-decoration: none;
}
.card {
  flex: 1 1 30%;
  padding: 0.8rem 0.6rem;
  margin: 0;
  max-width: max(190px, 30%);
}
.nav li:hover,
.card:hover,
.nav li:focus,
.card:focus,
.nav li:active,
.card:active {
  background: #000;
  border-color: #ddd;
  outline-color: transparent;
}
.card:hover .tags span,
.card:focus .tags span,
.card:active .tags span {
  background: #bfbfbf;
  color: #000;
}
.card:hover .techIcons span,
.card:focus .techIcons span,
.card:active .techIcons span {
  filter: brightness(0) invert(0.8);
}
.nav li:hover,
.nav li:hover *,
.card:hover,
.card:hover *,
.nav li:focus,
.nav li:focus *,
.card:focus,
.card:focus * {
  color: #ddd;
}
.card h2,
.card h3,
.card p {
  text-overflow: ellipsis;
  overflow: hidden;
}
.card h2,
.card h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.card h2 {
  font-size: var(--step-1);
  animation: none;
}
.card h3 {
  line-height: 1.2rem;
  height: 5.9ch;
}
.card p {
  height: 7.2ch;
  margin: 0.6rem 0 0;
  line-height: 1;
  text-align: center;
}
.card a {
  text-decoration: underline;
}
.tags,
.techIcons {
  display: flex;
  flex-wrap: wrap;
  margin-block: 0;
}
.tags {
  gap: 0.2rem;
  align-content: center;
}
.card .tags {
  justify-content: flex-start;
  align-content: flex-start;
  height: 9ch;
  overflow-x: hidden;
  overflow-y: auto;
  margin-block-start: 0.8rem;
  margin-block-end: 0;
}
.tags span,
.tags li {
  font-size: 0.6rem;
  font-family: sans-serif;
  line-height: 0.8rem;
  font-style: italic;
  font-weight: bold;
  color: var(--bg);
  padding: 0 0.2rem;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.7)
}
.projectsGrid .tags span {
  color: var(--projects-bg);
}
.techIcons {
  gap: 0.1rem;
  justify-content: flex-start;
  align-items: center;
  line-height: 0;
}
.card .techIcons {
  height: 32px;
  justify-content: center;
  margin-block: 0.4rem;
}
.techIcons span {
  filter: brightness(0);
}
.infobar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
  margin-block-start: 0.8rem;
  margin-block-end: 1.2rem;
}
.infobar input[type="text"] {
  min-width: 0;
  flex: 0 1 50%;
}
.infobar button {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-content: center;
  padding: 0.2rem 0.4rem;
  gap: 0.2rem;
  min-width: 0;
  height: 1.7rem;
}
.infobar button sub,
.infobar button sup {
  font-size: 0.6rem;
  font-weight: bold;
}
.infobar button sub {
  align-self: flex-end;
}
.infobar button sup {
  align-self: flex-start;
}
.infobar :last-child {
  justify-content: flex-end;
}
.expandable {
  max-height: 0svh;
  overflow: hidden;
  /*transform: scaleY(0);*/
}
.expandable.expanding,
.expandable.expanded {
  /*transform: scaleY(1);*/
  max-height: 100svh;
}
.expandable.expanded {
  overflow: visible;
}
.expandable > div:first-child {
  flex: 1 1 50%;
}
.dialog {
  width: 75%;
  display: grid;
  grid-template-columns: 2rem auto 2rem;
  grid-template-rows: 2rem 1fr auto;
  background: #ddd;
  color: #222;
  border: var(--thick-border);
  padding: 1rem;
  text-align: left;
  gap: 1rem;
  text-shadow: none;
}
.dialog p {
  grid-column: 2 / -1;
  grid-row: 1 / 3;
  align-self: stretch;
  margin-block-start: 0;
}
.dialog button {
  grid-column: 2 / -1;
  grid-row: 3 / -1;
  justify-self: end;
  margin-block-start: 2rem;
  font-weight: bold;
}
.skills {
  margin-block-start: 0;
  margin-block-end: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills li {
  margin: 0;
}
.description {
  margin-block-start: 0;
  margin-block-end: 0;
}
.loader {
  opacity: 0.75;
  border: 2rem groove #222;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  animation: loader 2s linear infinite;
  margin: auto;
}

.darkmode {
  color: #ddd;
  text-shadow: var(--darkmode-shadow);
}
.darkmode h1,
.darkmode h2,
.darkmode h3,
.darkmode h4,
.darkmode h5,
.darkmode h6,
.darkmode .nav li {
  color: #bfbfbf;
}
.darkmode h1 {
  animation: none;
}
.darkmode button[aria-expanded] span {
  border-bottom-color: #bfbfbf;
}
.darkmode button[aria-expanded]:hover span,
.darkmode button[aria-expanded]:active span,
.darkmode button[aria-expanded]:focus span {
  border-bottom-color: #222;
}
.darkmode figcaption {
  background: #ccc;
  color: #000;
  border: 1px outset #000;
}
.darkmode .nav li,
.darkmode .tags span,
.darkmode .tags li {
  text-shadow: none;
  box-shadow: var(--darkmode-shadow);
}
.darkmode button,
.darkmode .nav li {
  border-color: #bfbfbf;
}
.darkmode .nav li:hover,
.darkmode .nav li:focus,
.darkmode .tags span,
.darkmode .tags li {
  background: #bfbfbf;
}
.darkmode .nav li:hover a,
.darkmode .nav li:focus a {
  color: #222;
}
.darkmode .techIcons span {
  filter: brightness(0) invert(0.8);
}
.darkmode .loader {
  opacity: 1;
  border-color: #ddd;
}

/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://www.cssmojo.com/hide-content-from-sighted-users/
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/

.srOnly {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links 
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.srOnly-focusable:focus,
.srOnly-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

@media (prefers-reduced-motion: no-preference) {
  .expandable {
    transition: max-height 500ms ease-in-out;
  }
}