@keyframes flicker {
  0% {
  opacity: 0.57861;
  }
  5% {
  opacity: 0.64769;
  }
  10% {
  opacity: 0.53604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.48128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.56559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.58594;
  }
  60% {
  opacity: 0.50313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.67288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.70003;
  }
  95% {
  opacity: 0.66108;
  }
  100% {
  opacity: 0.54387;
  }
}

@keyframes glow {
  0% {
  opacity: 0.77861;
  }
  5% {
  opacity: 0.74769;
  }
  10% {
  opacity: 0.73604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.78128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.75583;
  }
  35% {
  opacity: 0.77807;
  }
  40% {
  opacity: 0.76559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.78594;
  }
  60% {
  opacity: 0.70313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.73455;
  }
  75% {
  opacity: 0.77288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.77003;
  }
  95% {
  opacity: 0.76108;
  }
  100% {
  opacity: 0.74387;
  }
}


@keyframes startup {
  0% {
    transform: scale(1,0.8) translate3d(0,0,0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1,0.8) translate3d(0,100%,0);
  }
  3.6% {
    transform: scale(1,0.8) translate3d(0,-100%,0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3,0.6) translate3d(0,100%,0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    transform: scale(1,1) translate3d(0,0,0);
    -webkit-filter: contrast(0) brightness(0) ;
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1,1) translate3d(0,0,0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

@keyframes landscaping {
  0% {
    transform: rotate(90deg) scale(1.34);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
@keyframes portraiting {
  0% {
    transform: rotate(0) scale(1);
  }
  100% {
    transform: rotate(90deg) scale(1.34);
  }
}

@keyframes landscapingaspect {
  0% {
    aspect-ratio: 3 / 4;
  }
  100% {
    aspect-ratio: 4 / 3;
  }
}

@keyframes portraitingaspect {
  0% {
    aspect-ratio: 4 / 3;
  }
  100% {
    aspect-ratio: 3 / 4;
  }
}

@keyframes landscapingscreen {
  0% {
    margin-inline-end: 0.5rem;
    padding-block: 1rem;
    padding-inline: 1rem 0.5rem;
  }
  100% {
    margin-inline-end: 2rem;
    padding-block: 2rem;
    padding-inline: 3rem 1rem;
  }
}

@keyframes portraitingscreen {
  0% {
    margin-inline-end: 2rem;
    padding-block: 2rem;
    padding-inline: 3rem 1rem;
  }
  100% {
    margin-inline-end: 0.5rem;
    padding-block: 1rem;
    padding-inline: 1rem 0.5rem;
  }
}

.container {
  position: relative;
  aspect-ratio: 4 / 3;
  max-height: 100vh;
  max-height: 100svh;
  max-width: 100%;
  margin: auto;
}

.tvframe {
  z-index: 4;
  pointer-events: none;
  aspect-ratio: 4 / 3;
}

.tvbezel {
  padding: 1rem;
  z-index: 5;
  pointer-events: none;
}

.tvglow {
  padding: 4%;
  z-index: 5;
  pointer-events: none;
  animation: glow 0.15s infinite;
  filter: invert(19%) sepia(4%) saturate(6576%) hue-rotate(197deg) brightness(86%) contrast(77%);
}

.startuptvglow {
  filter: none;
}

.hometvglow {
  filter: sepia(25%) saturate(2000%) hue-rotate(149deg) brightness(95%) contrast(91%);
}

.resumestvglow {
  filter: sepia(66%) saturate(1000%) hue-rotate(316deg) brightness(86%) contrast(89%);
}

.scanlines::before {
  content: " ";
  display: block;
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.scanlines::after {
  content: " ";
  display: block;
  position: absolute;
  inset: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

.scanlines {
  position: absolute;
  inset: 6%;
  z-index: 3;
  aspect-ratio: 4 / 3;
  background-color: #393c5a;
}

.homescanlines {
  background-color: #619cb5;
}

.resumesscanlines {
  background-color: #b56161;
}

.screen {
  height: 100%;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: scroll;
  animation-duration: .25s;
  animation-iteration-count: 1;
  /*margin-inline-end: 2rem;
  padding-block: 2rem;
  padding-inline: 3rem 1rem;*/

  /*margin-right: 2rem;
  padding: 2rem 1rem 2rem 3rem;*/
}

.startupbg {
  background-color: #333;
  position: absolute;
  inset: 0;
}

/*.startup img {
  animation: startup 1s linear;
  animation-fill-mode: forwards;
}

.tvframe,
.tvbezel,
.tvglow,
.container,
.scanlines,
.scanlines::before,
.scanlines::after,
.screen {
  animation-duration: .25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.landscaping :is(.tvframe, .tvbezel, .tvglow, .scanlines::before, .scanlines::after) {
  animation-name: landscaping;
}
.portraiting :is(.tvframe, .tvbezel, .tvglow, .scanlines::before, .scanlines::after) {
  animation-name: portraiting;
}
.landscaping :is(.container, .scanlines) {
  animation-name: landscapingaspect;
}
.portraiting :is(.container, .scanlines) {
  animation-name: portraitingaspect;
}
.landscaping .screen {
  animation-name: landscapingscreen;
}
.potraiting .screen {
  animation-name: portraitingscreen;
}*/

@media (orientation: portrait) {
  .tvframe,
  .tvbezel,
  .tvglow,
  .scanlines::before,
  .scanlines::after {
    transform: rotate(90deg) scale(1.34);
  }
  .container,
  .tvframe,
  .scanlines {
    aspect-ratio: 3 / 4;
  }
  .startup .scanlines {
    background: transparent;
  }
  .container {
    /*max-width: none;
    margin: 0 auto;*/
    overflow: hidden;
  }
  /*.container {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
  }*/
  .tvglow {
    padding: 5%;
  }
  .screen {
    margin-inline-end: 0.5rem;
    padding-block: 1rem;
    padding-inline: 1rem 0.5rem;
    /*margin-right: 0.5rem;
    padding: 1rem 0.5rem 1rem 1rem;*/
    /*background-color: #939490;*/
    overflow-y: auto;
  }
  .startup .screen {
    background-color: #787878;
  }
  .startupbg {
    background: transparent;
  }
}