.project h1,
.project h2,
.project h3,
.project h4,
.project h5,
.project h6 {
  text-align: left;
}
.project h1 {
  line-height: 1;
  margin-block-end: 0.6rem;
}
.project h1 ~ h3 {
  font-weight: normal;
  line-height: 1.2;
}
.project p {
  margin-block-start: 0;
}
.project figure {
  width: 48%;
  min-width: 120px;
  float: left;
  margin-block-start: 0;
  margin-block-end: 0.8rem;
  margin-inline: 0 1.2rem;
}
.project figure[data-class*="wide"] {
  width: 100%;
  min-width: 0;
  float: none;
  margin-inline: 0;
}
.project figure:nth-of-type(2n) {
  float: right;
  margin-inline: 1.2rem 0;
}
.project p,
.project li {
  text-align: justify;
}
.project ul {
  list-style: disc;
  margin-inline-start: 1.6rem;
}
.project ul ul {
  list-style: circle;
}
.project section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}
.project section > figure {
  width: 100%;
  min-width: 0;
  float: none;
}
.project section > figure:nth-of-type(2n) {
  margin-inline: 0;
}
.project section > figure[data-class*="wide"] {
  grid-column: 1 / -1;
  margin-inline: 0;
}