.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  text-align: left;
}
.article h1 {
  line-height: 1;
  margin-block-end: 0.6rem;
}
.article h1 ~ h3 {
  font-weight: normal;
  line-height: 1.2;
}
.article p {
  margin-block-start: 0;
}
.article figure {
  width: 48%;
  min-width: 120px;
  float: left;
  margin-block-start: 0;
  margin-block-end: 0.8rem;
  margin-inline: 0 1.2rem;
}
.article figure[data-class*="wide"] {
  width: 100%;
  min-width: 0;
  float: none;
  margin-inline: 0;
}
.article figure:nth-of-type(2n) {
  float: right;
  margin-inline: 1.2rem 0;
}
.article p,
.article li {
  text-align: justify;
}
.article ul {
  list-style: disc;
  margin-inline-start: 1.6rem;
}
.article ul ul {
  list-style: circle;
}
.article section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}
.article section > figure {
  width: 100%;
  min-width: 0;
  float: none;
}
.article section > figure:nth-of-type(2n) {
  margin-inline: 0;
}
.article section > figure[data-class*="wide"] {
  grid-column: 1 / -1;
  margin-inline: 0;
}