.bezel {
  pointer-events: none;
  touch-action: none;
  z-index: 8;
  padding: 1rem;
  -webkit-filter: contrast(0.2);
  filter: contrast(0.2);
}

@media (orientation: portrait) {
  .bezel {
    transform: rotate(90deg) scale(1.34);
  }
}

/*@media (prefers-reduced-motion: reduced) {*/
@media (prefers-reduced-motion: no-preference) {
  /*:global .lightsOut :local .bezel {
    composes: lightsOutTransition from "./animations.module.css";
    animation-duration: .25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  :global .lightsOut .landscaping :local .bezel {
    composes: lightsOutLandscaping from "./animations.module.css";
  }
  :global .lightsOut .portraiting :local .bezel {
    composes: lightsOutPortraiting from "./animations.module.css";
  }*/
}