.monitor {
  position: relative;
  height: 100%;
  z-index: 2;
  aspect-ratio: 4 / 3;
  
  /*@supports not (aspect-ratio) { 
    float: left;
    padding-top: 75%;
  }*/
}

@media (orientation: landscape) {
  .monitor {
    grid-column: 2;
    grid-row: 1 / 3;
  }
}

@media (orientation: portrait) {
  .monitor {
    aspect-ratio: 3 / 4;
    overflow: hidden;
    width: 100%;
  }
}

/* Safari 11+ */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  .monitor::before {
    float: left;
    padding-top: 75%;
  }
}}

/* Safari 11+ portrait orientation */
@media not all and (min-resolution:.001dpcm) and (orientation: landscape)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  .monitor::before {
    float: left;
    padding-top: 33%;
  }
}}

/*@media (prefers-reduced-motion: reduced) {*/
@media (prefers-reduced-motion: no-preference) {
  /*:global .lightsOut :local .monitor {
    composes: lightsOutTransition from "./animations.module.css";
    animation-duration: .25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  :global .lightsOut .landscaping :local .monitor {
    composes: lightsOutLandscapingAspect from "./animations.module.css";
  }
  :global .lightsOut .portraiting :local .monitor {
    composes: lightsOutPortraitingAspect from "./animations.module.css";
  }*/
}