header.masthead {
  display: grid;
  grid-template-columns: 1fr min(30vw, 9rem);
  grid-template-areas:
    "title box"
    "subtitle box";
  padding: 0.8rem;
  grid-gap: 0 1rem;
  align-items: start;
}
header.masthead nav {
  grid-area: box;
  justify-self: center;
}
header.masthead nav ul {
  display: block;
  padding: 0;
  text-align: center;
}
header.masthead nav li {
  font-size: clamp(0.4rem, 0.5vw + 0.5rem, 0.8rem);
}
header.masthead h1,
header.masthead h2,
header.masthead h4,
header.masthead p {
  margin: 0;
}
header.masthead h1 {
  grid-area: title;
  font-size: 3.8rem;
  font-size: clamp(2.6rem, 5vw + 0.5rem, 3.8rem);
  align-self: center;
}
header.masthead h2 {
  grid-area: subtitle;
  font-family: var(--font-lora);
  font-size: clamp(0.8rem, 2vw + 0.5rem, 1.6rem);
  width: 0;
  text-wrap: nowrap;
  align-self: center;
}
header.masthead h4 {
  font-family: var(--font-lora);
  font-size: clamp(0.4rem, 0.5vw + 0.5rem, 0.8rem);
  text-align: center;
  margin-block-end: 0.3rem;
}
header.masthead p {
  border: var(--thick-border-articles);
  border-color: var(--bg-articles);
  padding: min(2vw, 0.8rem);
  text-align: center;
  font-size: min(2vw, var(--step--2));
  margin-block-end: 0.3rem;
}