/* @link https://utopia.fyi/type/calculator?c=320,20,1.067,1240,26,1.333,3,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  /* Step -1: 12.80px → 13.50px */
  --step--1: clamp(0.80rem, calc(0.78rem + 0.08vw), 0.84rem);
  /* Step 0: 16.00px → 18.00px */
  --step-0: clamp(1.00rem, calc(0.95rem + 0.23vw), 1.13rem);
  /* Step 1: 20.00px → 23.99px */
  --step-1: clamp(1.25rem, calc(1.14rem + 0.46vw), 1.50rem);
  /* Step 2: 25.00px → 31.98px */
  --step-2: clamp(1.56rem, calc(1.38rem + 0.80vw), 2.00rem);
  /* Step 3: 31.25px → 42.63px */
  --step-3: clamp(1.95rem, calc(1.65rem + 1.31vw), 2.66rem);
  
  --hometvbg: #619cb5;
  --resumestvbg: #b56161;
  --startuptvbg: #787878;
  --tvbg: #393c5a;

  --hometvglow: sepia(25%) saturate(2000%) hue-rotate(149deg) brightness(95%) contrast(91%) blur(2px);
  --resumestvglow: sepia(66%) saturate(1000%) hue-rotate(316deg) brightness(86%) contrast(89%) blur(2px);
  --tvglow: invert(19%) sepia(4%) saturate(6576%) hue-rotate(197deg) brightness(86%) contrast(77%);

  --landscapemacglowradialgradient: farthest-side at 120% 50%;
  --landscaperadialgradient: farthest-side at 50% 100%;
  --portraitradialgradient: farthest-corner at 50% -30%;
}
@keyframes pulser {
  50% { opacity: 0.33; }
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #222;
  color: #111;
  text-align: center;
  width: 100%;
  height: 100%;
}
html {
  touch-action: none;
}
body {
  background-image: radial-gradient(55% 70% at center, #030769 40%, #000 100%);
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  padding: 0;
  list-style: none;
  margin-block: 0 1.6rem;
}
p,
li {
  font-size: var(--step-0);
  margin-block: 0.8rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  text-transform: uppercase;
  margin-block: 0.8rem;
  font-weight: normal;
  line-height: 1.6;
  color: #222;
}
h1 {
  font-size: var(--step-3);
  animation: pulser 1.5s ease-out infinite;
}
h1 a {
  color: #222;
  text-decoration: none;
}
h2 {
  font-size: var(--step-1);
  animation: pulser 1.5s ease-out infinite;
}
h3 {
  font-size: var(--step-0);
}
h4 {
  font-size: var(--step--1);
}
h5 {
  font-size: var(--step--1);
}
button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
article {
  width: 100%;
}
section {
  margin-block: 0 2.4rem;
}
#__next {
  height: 100%;
  width: 100%;
}

@media (orientation: landscape) {
  #__next {
    max-width: 62.5%;
    margin: auto;
  }
}

@media (aspect-ratio >= 16 / 9) {
  html {
    font-size: 62.5%;
  }
}