@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes startup {
  0% {
    transform:scale(1,0.8) translate3d(0,0,0);
    -webkit-filter:brightness(30);
    filter:brightness(30);
    opacity:1;
  }
  3.5% {
    transform:scale(1,0.8) translate3d(0,100%,0);
  }
  3.6% {
    transform:scale(1,0.8) translate3d(0,-100%,0);
    opacity:1;
  }
  9% {
    transform:scale(1.3,0.6) translate3d(0,100%,0);
    -webkit-filter:brightness(30);
    filter:brightness(30);
    opacity:0;
  }
  11% {
    transform:scale(1,1) translate3d(0,0,0);
    -webkit-filter:contrast(0) brightness(0) ;
    filter:contrast(0) brightness(0);
    opacity:0;
  }
  100% {
    transform:scale(1,1) translate3d(0,0,0);
    -webkit-filter:contrast(1) brightness(1.2) saturate(1.3);
    filter:contrast(1) brightness(1.2) saturate(1.3);
    opacity:1;
  }
}

.description {
  line-height: 1.5;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 80rem;
  margin-top: 1rem;
}

.card {
  flex: 1;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 4px double #333;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #111;
  border-color: #111;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  line-height: 1;
  text-align: center;
}

.logo {
  height: 1em;
}

.homeContent {
  opacity: hidden;
  visibility: hidden;
  animation: fadein 0.5s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
}

.startup {
  animation: startup 1s linear;
  animation-fill-mode: forwards;
}

.startupbg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #333;
}

.skills {
  margin-block: 0 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 0.6rem;
  column-gap: clamp(1.2rem, calc(3.0rem - 5vw), 3.0rem);
}

.skills li {
  margin: 0;
}

.darkmode {
  color: #bababa;
}

.darkmode h1 {
  animation: none;
}